#hero{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    
}
.intro{
    display: flex;
    flex-direction: column;
    justify-items: left;
    position:relative;
    top: 50px;
    width: 60%;
}
.intro h2{
    font-size: 4.5rem;
    letter-spacing: 2px;
}
.intro h2>span{
    color: var(--yellow);
}
.intro p:nth-child(3){
    position: inline-block;
    padding: 45px 0px;
    font-weight: 700;
    font-size: 1.3rem;
}

.intro p:nth-child(4){
    font-size:2rem;
    font-weight: 500;
}

.intro .btn{
  outline: none; 


}
.intro .btn button{
    font-size: 0.75rem;
    padding: 14px 45px;
    margin: 40px 56px 0px 0px;
    border-radius: 28px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    
}
.intro .btn button:hover{
    background-color: var(--yellow);
    box-shadow: 0px 0px 65px 12px var(--yellow);

}

.pic{
    width:40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes move{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

.pic .pic-box:hover{
    transform: rotate(360deg);
}
