#skills{
    height: 100vh;
    width: 100%;
    background-color: var(--blackscreencolor);
    z-index: 10;
    position: relative;
    
}
.skills-box{
   padding-top: 15.9vh;
   
}   
.skills-box .headline-text{
   
    color: var(--blackscreentextcolor);
}   
.skills-pic-box{
    height: 39vh;
    border-radius: 4rem;
    color: var(--blackscreentextcolor);
   
}
.skills-pic{
    overflow: hidden;
    width: 100%;
    margin: 1.7rem 0;
    border-radius: 5px;
    
}
.skills-pic img{
    object-fit:cover    ;
    height: 34rem;
    width:100%;
    background-position: center;
}
.skills-list-box{
    padding-top:1.9rem;
    color: var(--blackscreentextcolor);
}
.skills-list-box h5{
    font-size: 1.6rem;
    
}
.skills-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    padding: 1.4rem;
}
.skills-list p{
    padding: 0.6rem;
    background-color: var(--yellow);
    /* background-color: var(--button); */
    border-radius: 0.2rem;
    font-size: 0.9vw;
    color: #fff;
}
.skills-pic-box .skills-pic{
    height: 75%;
}
.skills-pic-box  p{
    font-weight: 300;
    font-size:1.12vw;
    line-height: 3vh;
    letter-spacing: 0.4px;
    
}