/* Universal variable */
.hover-effect:hover{
        transform: scale(0.97);
        
}

.headline-text{
    font-weight: 600;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.9vw;
}
.container{
    padding: 0% 12% 0%;
    
}